::-webkit-scrollbar {
    width: 12px;
    background: rgb(75, 75, 75); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(92, 92, 92); 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(143, 143, 143);
}