* {
    font-family: 'Ubuntu', Arial, sans-serif;
    text-align: center;
    color: white;
}

button {
    cursor: pointer;
    outline: none;
}

input, textarea {
    outline: none;
}

body {
    word-break: break-word;
    background-color: #363636;
    transition: .4s;
    margin: 0 auto;
    overflow: hidden;
    overflow-x: hidden;
}

.HeaderTable {
    background-color: #272727;
    margin: 15px 0;
}

#Schedules {
    overflow-y: scroll;
    overflow-x: hidden;

    height: calc(100% - 50px - 50px);
    margin-top: 35px;
}

.MainHeader  {
    position: fixed;
    top: 0;

    font-weight: 700;
    font-size: 26px;
    text-align: left;

    background-color: rgb(31, 31, 31);

    width: 100%;
    height: 35px;

    border: none;
    padding: 5px;
}

.ScheduleHeader {
    font-weight: 700;
    font-size: 23px;

    background-color: rgb(31, 31, 31);

    border: none;
    padding: 5px;
    /* text-align: left; */
    /* margin: 10px 0; */
}

.ScheduleTables {
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
}

.TableClose {
    display: grid;
    grid-template-columns: auto 35px;
}


.ScheduleTable {
    opacity: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr;
    margin-left: 2px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.ScheduleCloseButton {
    height: 30px;
    width: 30px;
    padding: 0%;
    border: none;
    
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;

    opacity: 0;
    transition: 0.3s;

    background-color: #d51234;
}

.ScheduleCloseButton:hover {
    background-color: #fc183e;
}

.ScheduleCloseButton:active {
    background-color: #ca1130;
}

.ScheduleCloseButton > img {
    height: 10px;
    width: 10px;
    filter: brightness(200%);
}


.CreateScheduleButton {
    background-color: inherit;

    border: none;  
    border-radius: 5px;
    margin: auto 10px;

    width: 75px;
    height: 75px;
    transition: 0.1s;
}

.CreateScheduleButton:hover .CreateScheduleImage {
    width: 25px;
    height: 25px;
    filter: brightness(200%);
}

.CreateScheduleButton:active .CreateScheduleImage>img {
    filter: brightness(150%);
}

.CreateScheduleButton > img {
    width: 20px;
    height: 20px;
}


.ScheduleTable > input, .ScheduleTable > textarea {
    /* border-radius: 5px; */
    font-size: 14px;

    background-color: rgb(46, 46, 46);

    border: none;
    padding: 2%;
    margin: 1px;

    resize: none;

    text-transform: uppercase;

    transition: 0.4s;
}

.ScheduleTable > input:hover, .ScheduleTable > textarea:hover, 
.ScheduleTable > input:focus, .ScheduleTable > textarea:focus{
    background-color: rgb(54, 54, 54);
}

.ScheduleTable label {
    /* border-radius: 5px; */
    font-weight: 600;
    font-size: 14.3px;

    background-color: #1f1e1e;

    margin: 1px; 
}


#BottomNavBar {
    background-color: rgb(32, 32, 34);

    width: 100%;
    height: 50px;

    position: fixed;

    z-index: 1;

    bottom: 0;
    right: 0;

    transition: 0.3s;
}

#BottomNavBar > button {

    background-color: inherit;

    border: none;  
    border-radius: 5px;
    /* margin: 10px; */

    width: 45px;
    height: 100%;

    transition: 0.1s;
    
    float: right;
}

#BottomNavBar > button:hover img {
    filter: brightness(200%);
}

#BottomNavBar > button:active img {
    filter: brightness(150%);
}

#BottomNavBar > button > img {
    width: 35px;
    height: 35px;
}

.HourMinuteContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 0;
    border: none;
}

.HourContent, .MinuteContent {
    font-size: 14px;
    background-color: rgb(46, 46, 46);
    
    border: none;
    margin: 1px;
    padding: 0%;
    
    transition: 0.4s;
}

.HourContent:hover, .MinuteContent:hover, .HourContent:focus, .MinuteContent:focus {
    background-color: rgb(54, 54, 54);
}

.HourContent {
    text-align: right;
}

.MinuteContent {
    text-align: left;
}

.HourMinuteSeparator {
    border: none;
    margin: auto 2px;
    font-size: 14px;
}

.DaysContent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.DayButton {
    border: none;
    margin: 1px;
    outline: none;
    transition: 0.1s;
}

.OnDay {
    color: rgb(36, 36, 36);
    background-color: rgb(185, 185, 185);

    padding: 7px;
}

.OffDay {
    color: rgb(185, 185, 185);
    background-color: rgb(36, 36, 36);

    padding: 7px ;
}